body{
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: rgb(219, 221, 225);
    font-size: 30px;
}
.banner{
    padding: 10px;
}
.banner a{
    text-decoration: none;
}
nav{
    padding: 10px;
    margin: 20px;
}
nav a{
    padding: 5px 15px;
    text-decoration: none;
    color: deeppink;
    font-size: 20px;
}
nav a:hover{ 
    color: darksalmon;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 5px 5px 5px -2px;
    padding: 7px 20px;
    transition: 0.3s;
    background-color: antiquewhite;
}

section.home{
    height: 800px;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url("img.png");
    padding-top: 50px;
}
.containerHome{
    font-size: 30px;
    width: 50%;
    margin-left: 10px;
    padding-top: 25px;
    padding: 5px;
    margin: 50px;
}

section.howto{
   height: 800px;
   background-color: white;
}
.containerhowto{
    width: 50%;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
}
img{
    width:100%;
}
section.profile{
    min-height: 100vh;
    padding-top: 130px;
}
.cardProfile{
    background-color: rgb(29, 51, 126);
    padding: 15px;
    width:300px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px -2px;
    color: aquamarine;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top:5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;

}
section.howto{
    text-align: center;
}
header img{ 
    height: 90px;
}